/*  
1. Typography
- Font Sizes (px):
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98/ 128 (base 10 with scale of 1.2 rounded off)


2. Whitepaces
- SPACING SYSTEM (px)  
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

3. Color System
- background: #000
- color normal to use: #d77032


 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #000;
  color: #f5b64b;
}

/********************************/
/* GENERAL REUSABLE COMPONENTS */
/********************************/

.grid {
  display: grid;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

a {
  display: block;
}
